<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/base.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/login.css')}}"
		/>
		<link
			href="{{url_for('static',filename='image/icon_main.ico')}}"
			rel="shortcut icon"
		/>
		<title>用户登录</title>
	</head>
	<body>
		<div class="form">
			<h1>用户登录</h1>
			<form method="post">
				<input
					type="text"
					name="uname"
					placeholder="账号"
					value=""
				/><span></span>
				<div class="box">
					<label for="">
						<img
							src="{{url_for('static',filename='image/close.png')}}"
							alt=""
							id="eye"
						/>
					</label>
					<input
						type="password"
						name="password"
						placeholder="密码"
						id="pwd"
					/><span></span>
				</div>
				<input type="submit" id="submit" value="登录" />
			</form>
		</div>
		<script src="{{url_for('static',filename='js/login.js')}}"></script>
		<script src="{{url_for('static',filename='js/canvas-particle.js')}}"></script>
		<script type="text/javascript">
			// 1. 获取元素
			var eye = document.getElementById("eye");
			var pwd = document.getElementById("pwd");
			// 2. 注册事件 处理程序
			var flag = 0;
			eye.onclick = function () {
				// 点击一次之后， flag 一定要变化
				if (flag == 0) {
					pwd.type = "text";
					eye.src = "{{url_for('static',filename='image/open.png')}}";
					flag = 1; // 赋值操作
				} else {
					pwd.type = "password";
					eye.src = "{{url_for('static',filename='image/open.png')}}";
					flag = 0;
				}
			};
		</script>
		<script type="text/javascript">
			window.onload = function () {
				var config = {
					vx: 4,
					vy: 3,
					height: 2,
					width: 2,
					count: 100,
					color: "121, 162, 185",
					stroke: "100, 200, 180",
					dist: 6000,
					e_dist: 20000,
					max_conn: 10,
				};
				CanvasParticle(config);
			};
		</script>
	</body>
</html>
