{% extends 'base.html' %}
{% block content %}
 (function () {
 		function tick() { 
     
        var date = new Date(); 
        this.year = date.getFullYear(); 
        this.month = date.getMonth() + 1; 
        this.date = date.getDate(); 
        this.day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[date.getDay()];
        this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours(); 
        this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes(); 
        this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds(); 
        var currentTime =  this.year + "" + this.month + "" + this.date + "" + this.hour + "" + this.minute + "" + this.second;// + "" + this.day; 
        return currentTime
            
    }
 		// 添加按钮
 		addjson={
      	      "label": "新增数据",
      	      "type": "button",
      	      "actionType": "dialog",
      	      "level": "success",
      	      // "className": "m-b-sm",
      	      "dialog": {
      	        "title": "新增数据",
      	        "size":'md',
      	        "body": {
      	          "type": "form",
      	          "data": {
  	              },
      	          "api": "post:/score",
      	          "reload": "window",
      	          "controls": [
      	            {
                      "type": "text",
                      "name": "kskc",
                      "label": "考试课程",
                      required:1,
                        validations:{
                        maxLength:20,
                      },
                    },
                    {
                      "type": "date",
                      "name": "k_time",
                      "label": "考试时间",
                    },
                    
                    {
                      "type": "select",
                      "name": "class_id",
                      "value":"",
                      "label": "所在班级",
                      "source": "${options}",
                      searchable:true,
                      required:1,
                    },
                    {
                       "type": "link",
                       "href": "/scorelist/download/${class_id}",
                       "label": "下载模板",
                       "body":"点我下载",
                       "hiddenOn": "this.class_id == 0",
                    },
                    {
                      "name": "file",
                      "type": "file",
                      "label": "打分文件",
                      required:1,
                      "asBlob": true
                    }
      	          ]
      	        }
      	      }
      	    }
      	// 顶部搜索
      	topsertch={
	      "title": "搜索",
	      "controls": [
	        {
            "type": "datetime-range",
            "name": "in_time",
            "placeholder": "入学时间范围查询"
          },
	      ],
        "actions": [
              {
                "type": "reset",
                "label": "重置"
              },
              {
                "type": "submit",
                // className:"a-Button--primary",
                "level": "success",
                "label": "搜索"
              }
            ]
	     }
        var amis = amisRequire("amis/embed");
        // 用 amis 的 sdk 渲染内容区
        amis.embed("#main", {
          type: "page",
          title: "分数情况",
          initApi: "/classlist/minlist",
          // subTitle: "展示一些常规的表单，包括验证、提示等等",
          body: [
          	{
          	  "type": "page",
          	  "body": {
          	    "type": "crud",
          	    syncLocation: false,
          	    "api": "/scorelist",
          	    "quickSaveItemApi": "put:/scorelist/${id}",
          	    "saveImmediately":true,
          	  	"name":"userList",
          	    "filterTogglable": true,
          	  	"headerToolbar": [
          			addjson,
          	  		// "filter-toggler",
          	  	],
      	  	    "footerToolbar": [
          	  	      "statistics",
          	  	      "switch-per-page",
          	  	      "pagination"
          	  	    ],
          	  	// "filter":topsertch,
          	    "columns": [
          	      {
          	        "name": "id",
                    "sortable": true,
          	        "label": "ID",
                    "width":50,
          	      },
          	      
                  {
                    "name": "name",
                    "searchable": true,
                    "fixed": "left",
                    "width":100,
                    "label": "姓名"
                  },
                  {
                    "name": "class_id",
                    "searchable": {
                      "type":"select",
                      "source": "${options}",
                    },
                    "width":100,
                    "label": "班级",
                  },
                  {
                    "name": "code",
                    "searchable": true,
                    "width":100,
                    "label": "学号"
                  },
                  {
                    "name": "cid",
                    "searchable": true,
                    "width":160,
                    "label": "身份证"
                  },
          	      {
                    "name": "k_time",
                    "type":"date",
                    "sortable": true,
                    searchable:{
                      "type": "datetime-range",
                    },
                    "width":80,
                    "label": "考试时间",
                  },
                  {
                    "name": "kskc",
                    "searchable": true,
                    "width":100,
                    "label": "考试课程"
                  },
                  {
                    "name": "score",
                    "width":100,
                    "sortable": true,
                    "label": "分数",
                    searchable:{
                      "type": "range",
                      "label": "分数范围",
                      "multiple": true,
                    },
                    "quickEdit": {
                      "type": "number",
                    },
                  },
          	      {
  	              "type": "operation",
  	              "label": "操作",
                    "width":60,
  	              "buttons": [
  	                {
  	                  "tooltip": "删除",
  	                  "type": "button",
  	                  "icon": "fa fa-times text-danger",
  	                  "actionType": "ajax",
  	                  // "level": "danger",
  	                  "confirmText": "确认要删除？",
  	                  "api": "delete:/scorelist/${id}"
  	                },
  	              ]
  	            }
          	    ]
          	  }
          	}





          ]
        });
      })();
{% endblock content %}